.venv/
__pycache__/
*.pyc
.env
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/chroma_db/
data/chroma_manuals/
data/chroma_bge_db/
data/manuals/raw/*
!data/manuals/raw/.gitkeep
